<div class="row">
    <div class="row">
        <div class="col-sm-3">
            your incognitors
        </div>
        <div class="col-sm-9">
            messages
        </div>
    </div>
    <div class="col-sm-3">
        
    </div>
    <div class="col-sm-9">
      <% @message.each do |m| %>
          <div class="row">
              <div class="card card-block">
                <p class="card-text"><%= m.body %></p>
              </div>
          </div>
      <% end %>
    </div>
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group" role="group">
        <%= link_to "new message", new_message_path, class: "btn btn-secondary" %>
      </div>
      <div class="btn-group" role="group">
        <%= link_to "add friends", new_message_path, class: "btn btn-secondary" %>
      </div>
      <div class="btn-group" role="group">
        <%= link_to "send messages", new_message_path, class: "btn btn-secondary" %>
      </div>
    </div>
</div>