<div class="row">
    <div class="col-sm-5">
        <h3>Incognito chat for faceless</h3>
        <p>Who say what, who say so, who know, who care... We are incognitors</p>
        <div class="main-group-container">
          <%= link_to 'sign in', new_session_path, class: 'btn btn-block btn-incognito-main' %>
          <%= link_to 'sign up', new_user_path, class: 'btn btn-block btn-incognito-main' %>
        </div>  
    </div>
    <div class="col-sm-6">
      <%= image_tag image_url('incognito.jpg') %>
    </div>
</div>

